@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: Poppins;
	scroll-behavior: smooth;
	padding: 0;
}

body {
	background-color: #111111;
}

header {
	margin-bottom: 55px;
}

header nav {
	display: flex;
	justify-content: space-evenly;
}

header nav h1 {
	color: #4343e4;
  font-size: 40px;
	font-weight: 2000;
	margin: 10px;
	letter-spacing: 4px;
}

header nav ul {
	width: 40%;
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	justify-content: space-between;
}

header nav ul li {
	text-align: right;
}

header nav ul li:nth-child(1) a{
	background-color: #4343e4;
}

header nav ul li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	padding: 8px 10px;
	border-radius: 5px;
	border-bottom:2px solid #3030ad;
	overflow: hidden;
}

header nav ul li a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #4343e4;
	transition: 0.2s ease-in;
	z-index: -1;
}

header nav ul li a:hover::before {
	width: 100%;
}

.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 30px;
	top: 50%;
	gap: 1rem;
	transform: translateY(-50%);
}

.icons a {
	display: inline;
	font-size: 20px;
	text-decoration: none;
	color: white;
	background-color: #4343e4;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.icons a:hover {
	transform: scale(1.1);
}

.icons .line {
	height: 40px;
	width: 3.5px;
	border-radius: 5rem;
	background-color: white;
}

section .container {
	color: white;
	width: 70%;
	margin: auto;
	min-height: 80vh;
	display: flex;
	justify-content: space-between;
}


section .container .intro .heading {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

section .container .intro .intro-title {
	font-size: 50px;
	line-height: 50px;
}

section .container .profile-pic {
	width: 320px;
	height: 320px;
	flex-shrink: 0;
	margin-top: 50px;
}

section .container .profile-pic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

section .container button {
	font-size: large;
	color: white;
	font-weight: 600;
	background-color: #4343e4;
	letter-spacing: 2px;
	width: 150px;
	height: 50px;
	margin-top: 20px;
	border: 1px solid #111111;
	border-radius: 10px;
	box-shadow: 
		2px 2px 2px black;
	transition: 0.2s ease-in;
	cursor: pointer;
}

section .container button:hover {
	transform: scale(1.1);
}

