.weatherCardLight,
.weatherCardDark {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.weatherCardLight {
    background-color: #dfdfdf;
}

.weatherCardDark {
    background-color: #383838;
}

.weatherCard p {
    margin-bottom: 7px;
    margin-top: 0px;
}

.weatherTitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0px;
}

.weatherTitle span {
    font-weight: bold;
}