@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: Poppins;
	scroll-behavior: smooth;
	padding: 0;
}

body {
	background-color: #131313;
}

header {
	margin-bottom: 55px;
}

header nav {
	display: flex;
	justify-content: space-evenly;
}

header nav h1 {
	color: #4343e4;
  font-size: 40px;
	font-weight: 2000;
	margin: 10px;
	letter-spacing: 4px;
}

header nav ul {
	width: 40%;
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	justify-content: space-between;
}

header nav ul li {
	text-align: right;
}

header nav ul li:nth-child(1) a{
	background-color: #4343e4;
}

header nav ul li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	padding: 8px 10px;
	border-radius: 5px;
	border-bottom:2px solid #3030ad;
	overflow: hidden;
}

header nav ul li a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #4343e4;
	transition: 0.2s ease-in;
	z-index: -1;
}

header nav ul li a:hover::before {
	width: 100%;
}

.icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 30px;
	top: 50%;
	gap: 1rem;
	transform: translateY(-50%);
}

.icons a {
	display: inline;
	font-size: 20px;
	text-decoration: none;
	color: white;
	background-color: #4343e4;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease;
}

.icons a:hover {
	transform: scale(1.1);
}

.icons .line {
	height: 40px;
	width: 3.5px;
	border-radius: 5rem;
	background-color: white;
}

section .container {
	color: white;
	width: 70%;
	margin: auto;
	min-height: 80vh;
	display: flex;
	justify-content: space-between;
}


.intro .heading {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.intro .intro-title {
	font-size: 50px;
	line-height: 50px;
}

.profile-pic {
	width: 320px;
	height: 320px;
	flex-shrink: 0;
	margin-top: 50px;
}

.profile-pic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.margin {
	margin-top: 50px;
}

.sect-title {
	padding: 20px;
}

.sect-title h3 {
	display: flex;
	justify-content: center;
	color: #6565f7;
	font-weight: 200;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

.sect-title h1 {
	display: flex;
	justify-content: center;
	position: relative;
	color: white;
	font-size: 45px;
	letter-spacing: 4px;
	padding: 0;
	margin: 0;
}

.sect-title h1::before {
	content: "";
	position: absolute;
	width: 300px;
	height: 3px;
	background-color: #4343e4;
	border-radius: 5px;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}

.institute h2 {
	display: flex;
	justify-content: center;
	color: white;
	font-weight: 500;
}

.institute p {
	display: flex;
	justify-content: center;
	color: white;
	font-weight: 300;
	margin: 0 0 0 20px;
}

.row {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.skill {
	width: 350px;
	color: white;
	text-align: center;
}

.skill h2 {
	display: flex;
	justify-content: center;
	font-weight: 500;
}

.skill p {
	font-weight: 300;
}

.projects {
	display: flex;
	justify-content: center;
	color: white;
	gap: 5rem;
}

.project-image {
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	height: 160px;
	border-radius: 10px 10px 0 0;
}

.project-image img:hover {
	transform: scale(1.05);
}

.project-card {
	background-color: #0a0a0a;
	border-radius: 10px;
}

.project-info {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
	padding: 0;
}

.project-info a {
	display: inline-block;
	text-align: right;
	color: white;
	font-size: 20px;
	top: 5px;
	transition: 0.2s ease;
}

.project-info a:hover {
	transform: scale(1.1);
	color: #6565f7;
}

.contacts {
	margin-top: 30px;
}

.contact {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 25px;
	margin-top: 15px;

}

.contact a {
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
}

.contact a:hover {
	color: #6565f7;
}

.contact i {
	font-size: 30px;
	margin-right: 30px
}
