.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 30px;
    color: #444;
}