.search {
    display: flex;
    gap: 10px;
}

.search input {
    border: 1px solid #424242;
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
}

.search button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
}